.employee-register-container {
  width: 89%;
  margin-top: 50px;
  margin-left:120px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.employee-register-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form input,
form select,
form textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

form input[type="file"] {
  padding: 6px;
}

form img {
  max-height: 80px;
  object-fit: contain;
  display: block;
}

form textarea {
  resize: vertical;
  min-height: 60px;
}

.full-width {
  grid-column: span 2;
}

button[type="submit"] {
  padding: 12px 30px;
  background-image:linear-gradient(135deg,blue 50%,brown 50%);
  color: white;
  border: none;
  border-radius:12px;
  cursor: pointer;
  font-size: 16px;
  grid-column: 1 / -1; 
  justify-self: center; 
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

